
<div class="row">
  <div class="col-12 mt-5 pt-lg-5">
    <form class="form p-5 mb-5 mt-lg-5" [formGroup]="form">
      <ngb-alert class="text-center" *ngIf="errorMsg" type="danger" (close)="errorMsg = null">{{ errorMsg }}
      </ngb-alert>
      <h2 class="mb-5">Contact Us</h2>
      <h3 class="mb-5; text-center">Fill out the form below and one of our qualified car experts will get back to you as soon as possible!</h3>
      <div class="form-group row">
        <div class="col-6">
          <label class="label">First Name</label>
          <input [ngClass]="{'is-invalid': hasError && form.get('firstName').errors}" class="form-control" type="text"
            formControlName="firstName" placeholder="Jane">
          <label class="form-error" *ngIf="hasError && form.get('firstName').errors">
            <span class="text-danger" *ngIf="form.get('firstName').errors['required']">
              First Name is required!
            </span>
          </label>
        </div>
        <div class="col-6">
          <label class="label">Last Name</label>
          <input [ngClass]="{'is-invalid': hasError && form.get('lastName').errors}" class="form-control" type="text"
            formControlName="lastName" placeholder="Doe">
          <label class="form-error" *ngIf="hasError && form.get('lastName').errors">
            <span class="text-danger" *ngIf="form.get('lastName').errors['required']">
              Last Name is required!
            </span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Email</label>
        <input [ngClass]="{'is-invalid': hasError && form.get('email').errors}" class="form-control" type="email"
          formControlName="email" placeholder="you@youremailaddress.com">
        <label class="form-error" *ngIf="hasError && form.get('email').errors">
          <span class="text-danger" *ngIf="form.get('email').errors['required']">
            Email is required!
          </span>
        </label>
      </div>
      <div class="form-group">
        <label class="label">Subject</label>
        <input [ngClass]="{'is-invalid': hasError && form.get('need').errors}" class="form-control" type="text"
          formControlName="need" placeholder="Oil Change">
        <label class="form-error" *ngIf="hasError && form.get('need').errors">
          <span class="text-danger" *ngIf="form.get('need').errors['required']">
            Subject is required!
          </span>
        </label>
      </div>
      <div class="form-group">
        <label class="label">Message</label>
        <input [ngClass]="{'is-invalid': hasError && form.get('comment').errors}" class="form-control" type="text"
          formControlName="comment" placeholder="Type your message here.">
        <label class="form-error" *ngIf="hasError && form.get('comment').errors">
          <span class="text-danger" *ngIf="form.get('comment').errors['required']">
            Message is required!
          </span>
        </label>
      </div>
      <div class="form-group">
      </div>
      <div class="form-footer-btns form-group mt-5 mb-2 row">
        <div class="col-6">
          <button type="submit" class="btn btn-primary btn-block" (click)="submitForm()">Register<fa-icon
              *ngIf="submitting" [icon]="['fas', 'spinner']" size="lg" class="ml-2 fa-spinner" spin="true">
            </fa-icon></button>
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-outline-primary btn-block" (click)="cancelForm()">Cancel<fa-icon></fa-icon>
          </button>
        </div>
      </div>
      <div class="col-12 text-center mt-4 p-0">
        <p class="form-bottom-p"> <a class="form-link" [routerLink]="['/home']">Home</a></p>
      </div>
    </form>
  </div>
</div>
