.card {
  font-family: monospace;
}

.card-header {
  font-weight: bold;
  font-size: larger;
}

.col-md-4 {
  font-size: larger
}

.row {
  margin-bottom: 2%;
}
h1 {
  font-family: monospace;
  font-weight: bolder;
}
