<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shelly Bluebook Virtual Dealership</title>
<!--
  Bootstrap core CSS
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  Custom styles for this template
  <link href="css/business-frontpage.css" rel="stylesheet"> -->

</head>

<body>



  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-left">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Welcome to the Shelly Bluebook Virtual Dealership!</h1>
          <p class="lead mb-2 text-white-50"> Here at the Shelly Bluebook Virtual Dealership, we make it easier than ever to make those big purchases from the comfort of your own home. Simply browse our inventory to view our selection of certified used cars. <br>
            <p class="lead mb-2 text-white-50">If you have any questions, feel free to contact us, and one of our highly qualified technicians who definitely knows about cars and isn't a web developer can help you on your used car journey.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="middle-card">
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>About Us</h2>
        <hr>
        <p>Shelly Bluebook is a 100% employee owned business. We pride ourselves on putting our community first, giving you a no-hassle, not-your-grandmother's car salesman experience with no runaround required.</p>
        <p></p>
        <a class="btn btn-primary btn-lg" [routerLink]="['/cars']">Take me to the cars! &raquo;</a>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Hours and Locations</h2>
        <hr>
        <address>
          <strong>Shelly Bluebook of Cape Girardeau</strong>
          <br>300 Broadway Street
          <br>Cape Girardeau, MO 63701
          <br>Open Monday-Saturday from 8-5
          <br>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://specials-images.forbesimg.com/imageserve/5d35eacaf1176b0008974b54/960x0.jpg?cropX1=790&cropX2=5350&cropY1=784&cropY2=3349" alt="">
          <div class="card-body">
            <h4 class="card-title">2020 Chevrolet Corvette</h4>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/cars']"class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://specials-images.forbesimg.com/imageserve/5d37033a95e0230008f64eb2/960x0.jpg?cropX1=0&cropX2=3000&cropY1=157&cropY2=1844" alt="">
          <div class="card-body">
            <h4 class="card-title">Aston Martin Rapide E</h4>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/cars']"class="btn btn-primary" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://specials-images.forbesimg.com/imageserve/5d37038495e0230008f64ec1/960x0.jpg?cropX1=569&cropX2=5130&cropY1=347&cropY2=2912" alt="">
          <div class="card-body">
            <h4 class="card-title">Cadillac CT4</h4>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/cars']"class="btn btn-primary" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
