link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    .card-custom {
        max-width: 140px;
    }
    .top {
      margin-top: 100px;
    }
</style>

<div class="container top" *ngIf="cars" (click)="routeToViewCar(car.id)">
    <div class="row mt-5 justify-content-left" *ngFor="let car of cars">
        <div class="card" style="width: 35rem;">
          <img class="card-img-top" src="{{car.carImg}}" alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">{{car.carYear}} {{car.carMake}} {{car.carModel}}</h1>
            <h2 class="card-text">${{car.carPrice}}</h2>
            <a href="#" class="btn btn-primary">Get the deets</a>
          </div>
          </div>
    </div>
</div>


