<h1>cars</h1>

<ul *ngIf="cars">
  <li *ngFor="let car of cars">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{car.carImg}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          <p class="name">{{ car.carMake }}</p>
          <p class="country">{{ car.carModel}}</p>
          <p class="country">{{ car.carYear}}</p>
          <p class="country">{{ car.carPrice}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


  </li>
</ul>
